{#
/**
 * @file cmc_entity.html.twig
 * Default theme implementation to present Cmc entity data.
 *
 * This template is used when viewing Cmc entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cmc_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cmc_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
